html,body{height:100%;margin:0px;}
#particles{
	height: 100%;
	width: 100%;
	background-color: #9166F9;
	background-image: url('https://preview.redd.it/zomea5tdv8651.jpg?auto=webp&s=0a20face47ba06072a6510c946c01b9c83c9b1d2');
	background-size: cover;
	background-repeat: no-repeat;
}
